/* -------------------------------------CONTACTO------------------------------------------------- */

.contenedor-formularios{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    position:absolute;
    width:90vw;
    height: 100vh;
    top:20%;
    left:5%;
    margin:2% auto;
    padding:1%;
    overflow: auto;
}

.titulo-contenedores {
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    color: brown;
    font-size: 2em;
}
.info-contacto {
    padding: 2% 3%;
    font-weight: 500;
    font-size: 1em;
    box-shadow: #4d4d4d 3px 3px 3px 3px;
    margin:2% 3%;
    overflow: auto;
}


.formulario-contacto {
    box-shadow: #4d4d4d 3px 3px 3px 3px;
    padding: 2% 6%;
    margin:2% 2%;
    overflow: auto;

    label {
        @extend .formulario--contacto;
    }
    
    input {
        @extend .formulario--contacto;
    }



    button {
        display: block;
        background-color: #f12020;
    }

}
