/* --------------------------------------CONSEJOS PARA TU AUTO--------------------------------- */

.consejos {
    position: absolute;
    width: 60vw;
    height: 80vh;
    top: 10%;
    left: 15%;
    padding: 2% 5%;
    margin: 20vh 0;
    background-color: rgba(128, 128, 128, 0.582);
    text-align: justify;
    font-family: 'Roboto Serif', sans-serif;
    box-shadow: #303030 6px 6px 6px 6px;
    font-weight: 800;
    overflow-y: auto;

    strong {
        font-family: 'Bebas Neue';
        font-size: 2em;
        color: #000000;
    }
}


.titulo-consejos {
    text-decoration: underline 3px;
    text-align: map-get($estilos, text-align );
    margin-bottom: 10px;
}