/* ----------------------------------------FOOTER-------------------------------------------------- */

footer {
    @include display (flex, row, wrap, space-around); 
    align-items: center;
    width: 99vw;
    background-color: map-get($estilos, color );
    padding: 1vh 0px;

    section {
        font-size: 100%;
        padding: 1%;
        a {
            img {
            width: 30px;
            }
        }
        h3 {
            font-size: 150%;
            color: springgreen;
        }

        ul {
            li {
                list-style: none;
                a{
                    line-height: 130%;
                    text-align: map-get($estilos, text-align );
                    text-decoration: underline;
                    font-size: 90%;
                    color:rgb(33, 243, 117);
                }
            }
        }

    }
}


.mapa {
    width: 20vw;
    height: 20vh;
}


.footer-section {
    align-self: flex-end;

    p{
        font-size: 90%;
        color:rgb(33, 243, 117);
    }
}
