/* ----------------------------------------FOOTER-------------------------------------------------- */

footer {
    @include display (flex, row, wrap, space-around); 
    align-items: center;
    width: 99vw;
    background-color: map-get($estilos, color );
    padding: 1vh 0px;

    section {
        font-size: 100%;
        padding: 1%;
        a {
            img {
            width: 30px;
            }
        }
        h3 {
            font-size: 150%;
        }

        ul {
            li {
                list-style: none;
                a{
                    line-height: 130%;
                    text-align: map-get($estilos, text-align );
                    text-decoration: underline;
                    font-size: 90%;
                    color:black;
                }
            }
        }

        // section ul li a,
        // section a {
        //     line-height: 130%;
        //     text-align: center;
        //     text-decoration: none;
        //     font-size: 90%;
        // }




    }
}


.mapa {
    width: 20vw;
    height: 20vh;
}


.footer-section {
    align-self: flex-end;

    p{
        font-size: 90%;
    }
}
