/* ---------------------------------INDEX------------------------------------------------ */

.main-index {
    margin-top: 6vh;
}

.fondo {
    width: 99vw;
    opacity: 0.7;
    height: 900px;
}

.presentacion {
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    top: 20vh;
    left: 23%;
    margin: 3vw auto;
    padding: 2%;
    background-color: transparent;
    font-size: 5em;
    box-shadow: #303030 6px 6px 6px 6px;
    transition: all 1s;
    
    &:hover{
        transform: scale(1,1.2);
        border-radius: 10px;
        box-shadow: #303030 6px 6px 6px 6px;
    }
    div {
        p{
            padding: 1%;
            font-size: 12px;
            text-align: center;
            font-weight: 800;
            font-family: 'Roboto Serif', sans-serif;

            b{
                font-family: 'Monoton', cursive;
            }
        }
    }
}


.mediosPago {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2%;

    img {
        width: 6vw;
        height: 6vh;
        margin: 0 8px;
        transition: all 1s;

        &:hover {
            transform: scale(1.2,1.5);
        }
    }
}



.titulo-galeria {
    text-align: center;
    font-size: 4vw;
    font-family: 'Bebas Neue';
    background-color: #494949;
    margin: 30px;
    background-image: linear-gradient(to bottom , rgb(52, 160, 124),#353636 );
    animation: titulo 5s infinite;

}


@keyframes titulo {

    0%{
        background-image: linear-gradient(to bottom , rgb(52, 160, 124),#353636 );
    }
    20%{
        background-image: linear-gradient(to bottom , rgb(128, 42, 208),#353636 );
    }
    40%{
        background-image: linear-gradient(to bottom , rgb(208, 42, 89),#353636 );
    }
    60%{
        background-image: linear-gradient(to bottom , rgb(243, 33, 33),#353636 );
    }
    80%{
        background-image: linear-gradient(to bottom , rgb(33, 243, 117),#353636 );
    }
    100%{
        background-image: linear-gradient(to bottom , rgb(243, 205, 33),#353636 );
    }

    

}

.imagenes {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 99vw;
}

.imagen {
    /* max-width: 36vw; */
    min-width: 40vw;
    width: 40vw;
    margin: 1%;
}


