/*----------------------------MEDIA QUERIES------------------------------*/


@media screen and (max-width: 1440px) and (min-width: 1024px) {
    /*-----------INDEX-----------*/

    .presentacion {
        width: 50vw;
        left: 25%;
        top: 40vh;
        
    }

    .mediosPago img {
        width: 6vw;
        height: 6vh;
    }



    /*------------CONTACTO-----------*/

    .contenedor-formularios {
        top: 30%;
    }


    .quienesSomos {
        top:7vh;
    }

}




@media screen and (max-width: 1024px) and (min-width: 769px) {
    /*-----------INDEX-----------*/

    .presentacion {
        width: 50vw;
        left: 25%;
        top: 40vh;
        
    }

    .mediosPago img {
        width: 6vw;
        height: 6vh;
    }



    /*------------CONTACTO-----------*/

    .contenedor-formularios {
        top: 30%;
    }


    .quienesSomos {
        top:20vh;

    }

    .nosotros {
        top:20vh;
        p{
            margin:10%;
            font-size: 0.5em;

        }
    }

    .nosotros__marcas--titulo{
        margin-top: 8%;
    }


}

@media screen and (max-width: 768px) and (min-width: 426px) {

    /*-----------INDEX-----------*/

    .presentacion {
        width: 50vw;
        left: 25%;
        top: 40vh;
        
    }

    .mediosPago img {
        width: 6vw;

    }

    .imagen {
        width: 75vw;

    }


    /*------------CONTACTOS-----------*/

    .contenedor-formularios {
        top: 35%;
    }



    .quienesSomos {
        top:20vh;

    }

    .nosotros {
        top:20vh;
        p{
            margin:10%;
            font-size: 0.5em;
        }
    }

    .nosotros__marcas--titulo{
        margin-top: 12%;
    }
}


@media screen and (max-width: 426px) and (min-width: 376px) {


    /*-----------INDEX-----------*/

    .presentacion {
        width: 50vw;
        left: 25%;
        top: 35vh;
        
    }

    .mediosPago img {
        width: 6vw;
    }

    .imagen {
        width: 75vw;

    }



    /*------------CONTACTO-----------*/

    .contenedor-formularios {
        top: 45%;
    }



    .quienesSomos {
        top:24vh;

    }

    .nosotros {
        top:25vh;
        p{
            margin:10%;
            font-size: 0.5em;
        }
    }

    .nosotros__marcas--titulo{
        margin-top: 35%;
    }


}

@media screen and (max-width: 376px) and (min-width: 321px) {

    /*-----------INDEX-----------*/
    .presentacion {
        width: 50vw;
        left: 25%;
        top: 40vh;

        
    }
    .mediosPago img {
        width: 6vw;
    }

    .imagen {
        width: 85vw;

    }


    /*------------CONTACTO-----------*/


    .contenedor-formularios {
        top: 40%;
    }


    .quienesSomos {
        top:23vh;

    }

    .nosotros {
        top:25vh;
        p{
            margin:10%;
            font-size: 0.5em;
        }
    }

    .nosotros__marcas--titulo{
        margin-top: 40%;
    }
}

@media screen and (max-width: 320px) {

    /*-----------INDEX-----------*/
    .presentacion {
        width: 60vw;
        left: 20%;
        top: 50vh;
        
    }
    .mediosPago img {
        width: 7vw;
    }

    .imagen {
        width: 90vw;

    }

    



    /*------------CONTACTO-----------*/


    .contenedor-formularios {
        top: 40%;
    }


    .quienesSomos {
        top:23vh;

    }

    .nosotros {
        top:25vh;
        p{
            margin:10%;
            font-size: 0.5em;
        }
    }

    .nosotros__marcas--titulo{
        margin-top: 45%;
    }



}

