/*----------------------------MEDIA QUERIES------------------------------*/


@media screen and (max-width: 1024px) and (min-width: 769px) {

    .presentacion {
        width: 50vw;
        left: 25%;
        top: 40vh;
        height: 50vh;
        
        div {

            p{
                font-size: 30px;
            }
        }
    }

    .mediosPago img {
        width: 6vw;
        height: 6vh;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {

    .presentacion {
        width: 50vw;
        left: 25%;
        top: 40vh;
        height: 50vh;
        
        div {

            p{
                font-size: 20px;
            }
        }
    }

    .mediosPago img {
        width: 6vw;
        height: 6vh;
    }
}


@media screen and (max-width: 426px) and (min-width: 376px) {

    .presentacion {
        width: 50vw;
        left: 25%;
        top: 35vh;
        height: 65vh;
        
        div {

            p{
                font-size: 20px;
            }
        }
    }

    .mediosPago img {
        width: 6vw;
        height: 6vh;
    }
}

@media screen and (max-width: 376px) and (min-width: 321px) {
    .presentacion {
        width: 50vw;
        left: 25%;
        top: 40vh;
        height: 60vh;

        
        div {

            p{
                font-size: 16px;
            }
        }
    }
    .mediosPago img {
        width: 6vw;
        height: 6vh;
    }
}

@media screen and (max-width: 320px) {
    .presentacion {
        width: 60vw;
        left: 20%;
        top: 50vh;
        height: 50vh;
        
        div {

            p{
                font-size: 16px;
            }
        }
    }
    .mediosPago img {
        width: 7vw;
        height: 6vh;
    }
}

