/* -------------------------------------------------------NAV------------------------------------------------------- */


.nav {
        background-color: #34597a;
        width: 99vw;
        position: fixed;
        z-index: 100;
        margin-top: -6vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        h1 {
            background: transparent;
            /* margin-left:-50px; */
            display: inline-block;
            font-family: 'Bebas Neue';
            font-weight: 400;
            font-size: 76px;
            /*border:solid;*/
            /* text-shadow:#000000 3px 3px 10px; */
            color: #ffffff;
        }
        ul {
            /* display: inline-block; */
            /* margin-right: 100px;  */
            /* padding: 10px; */
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            position: relative;
            /* left: 250px; */
            /* top: 2vw; */
            li {
                display: inline;
                margin: 2vw;

                &:hover a {
                    color: white;
                    font-weight: 700;
                }
            }
        }


        a {
            padding: 1vw;
            text-decoration: none;
            background-color: silver;
            border: solid 3px;
            box-shadow: #4d4d4d 3px 3px;
            border-radius: 0.5em;
            color: black;
            font-family: 'Roboto Serif', sans-serif;
            font-size: 15px;
            /* margin: 30px; */
            
        }

    }

    
    
    
    
    
    