/* -------------------------------------------------------NAV------------------------------------------------------- */


.nav {
        background-color: map-get($estilos, color );
        width: 99vw;
        position: fixed;
        z-index: 100;
        margin-top: -6vh;
        @include display (flex, row, wrap, space-around); 
        padding: 10px 0;

        h1 {
            background: transparent;
            display: inline-block;
            font-family: 'Bebas Neue';
            font-weight: 400;
            font-size: 76px;
            color: #ffffff;
        }
        ul {
            @include display (flex, row, wrap, center); 
            position: relative;

            li {
                display: inline;
                margin: 2vw;

                &:hover a {
                    color: white;
                    font-weight: 700;
                }
            }
        }


        a {
            padding: 1vw;
            text-decoration: none;
            background-color: silver;
            border: solid 3px;
            box-shadow: #4d4d4d 3px 3px;
            border-radius: 0.5em;
            color: black;
            font-family: 'Roboto Serif', sans-serif;
            font-size: 1em;
            
        }

    }

    
    
    
    
    
    