/*------------------------------------NOSOTROS----------------------------------------- */

.quienesSomos {
    width: 100%;
    padding: 15px;
    background-color: #303030;
    text-align: map-get($estilos, text-align );
    color: white;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 40px;
    position:relative;
    top:56px;
}

.nosotros {
    font-size: 25px;
    float: none;

    img {
        height: 600px;
        width: 800px;
        display: block;
        float: left;
        margin: 10px;
    }

    p {
        margin: 10px;
        text-align: map-get($estilos, text-align );
        padding-top: 200px;
        font-family: 'Josefin Sans', sans-serif;
    }
}



.nosotros_clear-float {
    clear: both;
}

.nosotros__marcas--titulo {
    text-align: map-get($estilos, text-align );
    margin: 30px;
    padding: 10px;
    font-family: 'Roboto Serif', sans-serif;
    background-color: #303030;
    color: #ffffff;
    font-size: 30px;
    background-image: linear-gradient(to bottom , rgb(52, 160, 124),#2b5964 );
}

.nosotros__marcas {
    @include display (flex, row, wrap, space-around);
    margin: 50px;
    img{
        transition: all 1s;

        &:hover {
            transform: scale(1.2,1.2);
        }

    }
}