/*------------------------------------NOSOTROS----------------------------------------- */

.quienesSomos {
    width: 93%;
    padding: 3%;
    position:fixed;
    background-color: #303030;
    text-align: map-get($estilos, text-align );
    color: white;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 3em;
    position:relative;
    top:10vh;
}

.nosotros {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2em;
    position:relative;
    top:10vh;


    img {
        width: 50%;
        margin:auto;
    }
        
    p {
            text-align: map-get($estilos, text-align );
            font-family: 'Josefin Sans', sans-serif;
            margin:5%;
    }
    
}


.nosotros__marcas--titulo {
    text-align: map-get($estilos, text-align );
    margin: 5% 2%;
    padding: 1%;
    font-family: 'Roboto Serif', sans-serif;
    background-color: #303030;
    color: #ffffff;
    font-size: 2em;
    background-image: linear-gradient(to bottom , rgb(52, 160, 124),#2b5964 );
}

.nosotros__marcas {
    @include display (flex, row, wrap, space-around);
    margin: 5%;
    img{
        transition: all 1s;

        &:hover {
            transform: scale(1.2,1.2);
        }

    }
}