* {
    margin: 0px;
    padding: 0px;
}

/* diseño-grid {
    display: grid;
    grid-template-rows: 2fr 5fr 2fr;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas: " nav nav nav " " main main main" " footer footer footer ";
} */
/* 
nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
 */
