/*------------------------------------------------EXTENDS-----------------------------------*/
.formulario--contacto, .formulario-contacto label, .formulario-contacto input {
  margin: 3% 0;
  font-size: 1em;
  display: block;
  width: 20vw;
  color: white; }

/*-----------------------------body---------------------------------*/
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #2b2a2a; }

/* -------------------------------------------------------NAV------------------------------------------------------- */
.nav {
  background-color: #3e3d3d;
  width: 99vw;
  position: fixed;
  z-index: 100;
  margin-top: -6vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0; }
  .nav h1 {
    background: transparent;
    display: inline-block;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 76px;
    color: #f3cd21;
    transition: all 1s;
    animation: lubrimax 3s infinite; }
    .nav h1:hover {
      transform: scale(1.2, 1.2); }
  .nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative; }
    .nav ul li {
      display: inline;
      margin: 2vw; }
      .nav ul li:hover a {
        color: #fff700; }
  .nav a {
    padding: 1vw;
    text-decoration: none;
    background-color: silver;
    border: solid 3px;
    box-shadow: #4d4d4d 3px 3px;
    border-radius: 0.5em;
    color: black;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 1em; }

/* ---------------------------------INDEX------------------------------------------------ */
.main-index {
  margin-top: 6vh; }

.fondo {
  width: 99vw;
  opacity: 0.5;
  height: 900px; }

.presentacion {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50vw;
  top: 20vh;
  left: 25%;
  margin: 3vw auto;
  padding: 2%;
  background-color: transparent;
  transition: all 1s; }
  .presentacion:hover {
    transform: scale(1, 1.2);
    border-radius: 10px;
    box-shadow: #303030 6px 6px 6px 6px; }
  .presentacion div p {
    padding: 1%;
    font-size: 1.5em;
    text-align: center;
    font-weight: 800;
    font-family: 'Roboto Serif', sans-serif;
    color: antiquewhite; }
    .presentacion div p b {
      font-family: 'Monoton', cursive;
      color: #21f375; }

.mediosPago {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2%; }
  .mediosPago img {
    width: 6vw;
    height: 6vh;
    margin: 0 8px;
    transition: all 1s; }
    .mediosPago img:hover {
      transform: scale(1.2, 1.5); }

.titulo-galeria {
  text-align: center;
  font-size: 4em;
  font-family: 'Bebas Neue';
  background-color: #494949;
  margin: 30px;
  background-image: linear-gradient(to bottom, #34a07c, #353636);
  animation: titulo 5s infinite; }

@keyframes titulo {
  0% {
    background-image: linear-gradient(to bottom, #34a07c, #353636); }
  20% {
    background-image: linear-gradient(to bottom, #802ad0, #353636); }
  40% {
    background-image: linear-gradient(to bottom, #d02a59, #353636); }
  60% {
    background-image: linear-gradient(to bottom, #f32121, #353636); }
  80% {
    background-image: linear-gradient(to bottom, #21f375, #353636); }
  100% {
    background-image: linear-gradient(to bottom, #f3cd21, #353636); } }

.imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 99vw; }

.imagen {
  /* max-width: 36vw; */
  min-width: 40vw;
  width: 40vw;
  margin: 1%; }

/* ----------------------------------------FOOTER-------------------------------------------------- */
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 99vw;
  background-color: #3e3d3d;
  padding: 1vh 0px; }
  footer section {
    font-size: 100%;
    padding: 1%; }
    footer section a img {
      width: 30px; }
    footer section h3 {
      font-size: 150%;
      color: springgreen; }
    footer section ul li {
      list-style: none; }
      footer section ul li a {
        line-height: 130%;
        text-align: center;
        text-decoration: underline;
        font-size: 90%;
        color: #21f375; }

.mapa {
  width: 20vw;
  height: 20vh; }

.footer-section {
  align-self: flex-end; }
  .footer-section p {
    font-size: 90%;
    color: #21f375; }

/* --------------------------- SERVICIOS------------------------------ */
.contenedor-servicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  top: 20vh;
  padding: 0vh 0 20vh 0; }

.subtitulo {
  text-align: center;
  text-decoration: underline #1d7979; }

.servicio {
  width: 300px;
  border: solid #aaaaaa 1px;
  margin: 30px 12px;
  text-align: center;
  font-size: 20px;
  padding: 10px 20px;
  transition: all 1s;
  animation: mianimacion 5s infinite; }
  .servicio img {
    width: 120px;
    margin: 10px auto;
    transition: all 1s; }
  .servicio ul {
    text-align: justify;
    text-decoration: none;
    font-size: 17px;
    line-height: 25px; }
  .servicio:hover {
    border: 5px solid #366b6b;
    transform: scale(1.2, 1.2);
    border-radius: 10px;
    box-shadow: #303030 6px 6px 6px 6px; }

@keyframes mianimacion {
  0% {
    background: #34a07c; }
  20% {
    background: #802ad0; }
  40% {
    background: #d02a59; }
  60% {
    background: #f32121; }
  80% {
    background: #21f375; }
  100% {
    background: #f3cd21; } }

/* -------------------------------------CONTACTO------------------------------------------------- */
.contenedor-formularios {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 90vw;
  height: 105vh;
  top: 10%;
  left: 5%;
  margin: 2% auto;
  padding: 1%;
  padding-bottom: 7%; }

.titulo-contenedores {
  font-family: Arial, Helvetica, sans-serif;
  border-color: black;
  color: #fff200;
  font-size: 2em; }

.info-contacto {
  padding: 2% 3%;
  font-weight: 500;
  font-size: 1em;
  box-shadow: #4d4d4d 3px 3px 3px 3px;
  margin: 2% 3%;
  overflow: auto;
  color: white;
  border-color: #d1e406; }

.formulario-contacto {
  box-shadow: #4d4d4d 3px 3px 3px 3px;
  padding: 2% 6%;
  margin: 2% 2%;
  color: white;
  border: #eaff00 10px;
  overflow: auto; }
  .formulario-contacto button {
    display: block;
    color: black;
    background-color: #d1e406; }

/*------------------------------------NOSOTROS----------------------------------------- */
.quienesSomos {
  width: 93%;
  padding: 3%;
  position: fixed;
  background-color: #303030;
  text-align: center;
  color: white;
  font-family: 'Roboto Serif', sans-serif;
  font-size: 3em;
  position: relative;
  top: 10vh; }

.nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2em;
  position: relative;
  top: 10vh; }
  .nosotros img {
    width: 50%;
    margin: auto; }
  .nosotros p {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin: 15%;
    font-size: 0.5em; }

.nosotros__marcas--titulo {
  text-align: center;
  margin: 5% 2%;
  padding: 1%;
  font-family: 'Roboto Serif', sans-serif;
  background-color: #303030;
  color: #ffffff;
  font-size: 2em;
  background-image: linear-gradient(to bottom, #34a07c, #2b5964); }

.nosotros__marcas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5%; }
  .nosotros__marcas img {
    transition: all 1s; }
    .nosotros__marcas img:hover {
      transform: scale(1.2, 1.2); }

/* --------------------------------------CONSEJOS PARA TU AUTO--------------------------------- */
.consejos {
  position: absolute;
  width: 60vw;
  height: 80vh;
  top: 10%;
  left: 15%;
  padding: 2% 5%;
  margin: 20vh 0;
  background-color: rgba(128, 128, 128, 0.582);
  text-align: justify;
  font-family: 'Roboto Serif', sans-serif;
  box-shadow: #303030 6px 6px 6px 6px;
  font-weight: 800;
  overflow-y: auto; }
  .consejos strong {
    font-family: 'Bebas Neue';
    font-size: 2em;
    color: #000000; }

.titulo-consejos {
  text-decoration: underline 3px;
  text-align: center;
  margin-bottom: 10px; }

/*----------------------------MEDIA QUERIES------------------------------*/
@media screen and (max-width: 1440px) and (min-width: 1024px) {
  /*-----------INDEX-----------*/
  .presentacion {
    width: 50vw;
    left: 25%;
    top: 40vh; }
  .mediosPago img {
    width: 6vw;
    height: 6vh; }
  /*------------CONTACTO-----------*/
  .contenedor-formularios {
    top: 30%; }
  .quienesSomos {
    top: 7vh; } }

@media screen and (max-width: 1024px) and (min-width: 769px) {
  /*-----------INDEX-----------*/
  .presentacion {
    width: 50vw;
    left: 25%;
    top: 40vh; }
  .mediosPago img {
    width: 6vw;
    height: 6vh; }
  /*------------CONTACTO-----------*/
  .contenedor-formularios {
    top: 30%; }
  .quienesSomos {
    top: 20vh; }
  .nosotros {
    top: 20vh; }
    .nosotros p {
      margin: 10%;
      font-size: 0.5em; }
  .nosotros__marcas--titulo {
    margin-top: 8%; } }

@media screen and (max-width: 768px) and (min-width: 426px) {
  /*-----------INDEX-----------*/
  .presentacion {
    width: 50vw;
    left: 25%;
    top: 40vh; }
  .mediosPago img {
    width: 6vw; }
  .imagen {
    width: 75vw; }
  /*------------CONTACTOS-----------*/
  .contenedor-formularios {
    top: 35%; }
  .quienesSomos {
    top: 20vh; }
  .nosotros {
    top: 20vh; }
    .nosotros p {
      margin: 10%;
      font-size: 0.5em; }
  .nosotros__marcas--titulo {
    margin-top: 12%; } }

@media screen and (max-width: 426px) and (min-width: 376px) {
  /*-----------INDEX-----------*/
  .presentacion {
    width: 50vw;
    left: 25%;
    top: 35vh; }
  .mediosPago img {
    width: 6vw; }
  .imagen {
    width: 75vw; }
  /*------------CONTACTO-----------*/
  .contenedor-formularios {
    top: 45%; }
  .quienesSomos {
    top: 24vh; }
  .nosotros {
    top: 25vh; }
    .nosotros p {
      margin: 10%;
      font-size: 0.5em; }
  .nosotros__marcas--titulo {
    margin-top: 35%; } }

@media screen and (max-width: 376px) and (min-width: 321px) {
  /*-----------INDEX-----------*/
  .presentacion {
    width: 50vw;
    left: 25%;
    top: 40vh; }
  .mediosPago img {
    width: 6vw; }
  .imagen {
    width: 85vw; }
  /*------------CONTACTO-----------*/
  .contenedor-formularios {
    top: 40%; }
  .quienesSomos {
    top: 23vh; }
  .nosotros {
    top: 25vh; }
    .nosotros p {
      margin: 15%;
      font-size: 0.5em; }
  .nosotros__marcas--titulo {
    margin-top: 40%; } }

@media screen and (max-width: 320px) {
  /*-----------INDEX-----------*/
  .presentacion {
    width: 60vw;
    left: 20%;
    top: 50vh; }
  .mediosPago img {
    width: 7vw; }
  .imagen {
    width: 90vw; }
  /*------------CONTACTO-----------*/
  .contenedor-formularios {
    top: 40%; }
  .quienesSomos {
    top: 23vh; }
  .nosotros {
    top: 25vh; }
    .nosotros p {
      margin: 20%;
      font-size: 0.5em; }
  .nosotros__marcas--titulo {
    margin-top: 45%; } }
